@foreach(Carrera C in @ViewBag.Carreras){
@C.foto
@C.nombre

       <form action = '@Url.Action("Carrerainfo", "Account")' method = "POST">
         <input type="hidden" id="Id" name="Id" value= @C.Id />
        <input class = "submit" type="submit" value="Información"/>
    </form>
    <a>Chat</a>
}


/*IActionResult Carreras(int Id){
BD.infoCarrera();
@ViewBag.Foto = Foto;
@ViewBag.Nombre = Nombre;
@ViewBag.CantMaterias = CantMaterias;
@ViewBag.Duracion = Duracion;
@ViewBag.Descripcion = Descripcion;
}*/