@foreach(Carrera C in @ViewBag.Carreras){
@C.Foto
@C.nombre

       <form action = '@Url.Action("Resenias", "Account")' method = "POST">
         <input type="hidden" id="Id" name="Id" value= @C.Id />
        <input class = "submit" type="submit" value="Reseñas"/>
    </form>
 
}