<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.carrera.nombre • Unimatch</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    <header class="header-masinfo">
<div class="btn-hamburguesa" onclick="toggleMenu()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <div>
            <a href='@Url.Action("PaginaDeInicioEstudiante", "Ingreso")'><img src="~/Captura de pantalla 2025-11-05 145554.png"
                    alt="UniMatch Logo"> </a>
        </div>

        <nav class="sidebar" id="sidebar">
            <ul>
    
                <li><a href='@Url.Action("Universidades", "Home")'>Universidades</a></li>
                <li><a href='@Url.Action("Carreras", "Home")'>Carreras</a></li>
                <li><a href='@Url.Action("InfoUsuario", "Ingreso")'>Mi perfil</a></li>
                <li><a href='@Url.Action("Logout", "Ingreso")'>Cerrar sesión</a></li>
            </ul>
        </nav>

        <div class="volverBotonsito">
            <button class="btn-back" type="button" id="btn-back" aria-label="Volver" onclick="window.history.back()">
                <img src="~/boton volver bien.png" alt="volverBoton">
            </button>
        </div>
    </header>
    <main class="info-card-container">
    <div class="info-card">
        <div class="info-card-media">
            <img src="@Url.Content(ViewBag.carrera.fotoCarrera)" alt="@ViewBag.carrera.nombre" />
        </div>
        <div class="info-card-content">
            <h1 class="info-card-title">@ViewBag.carrera.nombre</h1>
            <div class="info-card-data">
                <p><strong>Duración promedio:</strong> @ViewBag.carrera.duracion años</p>
                <p><strong>Modalidad:</strong> Presencial o híbrida</p>
                <p><strong>Cantidad de Materias:</strong> @ViewBag.carrera.cantMaterias</p>
            </div>
            <hr class="info-card-divider" />
            <h2 class="info-card-section-title">Descripción:</h2>
            <p class="info-card-desc">@ViewBag.carrera.descripcion</p>
            <hr class="info-card-divider" />
            <h2 class="info-card-section-title">Universidades:</h2>
            <ul>
                <li>Universidad del Cine (FUC)</li>
                <li>Universidad Nacional de las Artes (UNA)</li>
                <li>Universidad Torcuato Di Tella</li>
                <li>Universidad de Buenos Aires (UBA)</li>
            </ul>
        </div>
    </div>
</main>
    <footer class="site-footer">
        <div class="footer-inner container">
            <div class="footer-col footer-links">
                <a href="#">Políticas de privacidad</a>
                <a href="#">Términos y condiciones</a>
                <a href="#">Ayuda</a>
                <p class="copyright">© 2025 UniMatch</p>
            </div>

            <div class="footer-col footer-center">
                <p class="madeby">"Hecho por<br>y para estudiantes"</p>
            </div>

            <div class="footer-col footer-social">
                <p class="redes-title">Redes</p>
                <div class="social-icons">
                    <a href="#" aria-label="Instagram"><img src="~/img/instagram.jpg" alt="Instagram"></a>
                    <a href="#" aria-label="X"><img src="~/x twitter.png" alt="X"></a>
                    <a href="#" aria-label="WhatsApp"><img src="~/whatsapp.png" alt="WhatsApp"></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/site.js"></script>
</body>

</html>
