
<img src="@Url('@ViewBag.Foto')" alt = ""></img>
<h2> @ViewBag.Nombre</h2>

<h3>Egresado de:</h3>   
<p>@ViewBag.UniverisdadNombre</p>

<h3>Especializado en:</h3>
<p>@ViewBag.CarreraNombre</p>

<button>Hablar por privado</button>
