@foreach(Facultad C in @ViewBag.Universidades){
@C.fotoFacultad
@C.nombre

       <form action = '@Url.Action("Resenias", "Account")' method = "POST">
         <input type="hidden" id="Id" name="Id" value= @C.idResenia />
        <input class = "submit" type="submit" value="Reseñas"/>
    </form>
    
}