Reseñas de  @ViewBag.Nombre

@foreach(Resenia R in @ViewBag.Resenia)
{
@R.Foto 
@R.nombre
@R.mensaje
<a href=''>Respuestas</a>
<a href=''>Responder</a>
<a href='@Url.Action("Chat","Home")'>Escribir por proviado</a>

}
