
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>universidad</title>
</head>
<body class="FONDO2" >
    <header>
        <a href="index.html"><img src="Captura de pantalla 2025-11-05 145554.png" alt=""> </a>
       <nav>
        
          <ul>
        <li><a href="index.html">SignUp</a></li>
        <li><a href="index.html">LogIn</a></li>
       </ul>
       </nav>
</header>
<main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id = "modal">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div></main>
    <div>
        <div class="chatuni-banner">
            <img src="https://via.placeholder.com/1200x200/8B7355/FFFFFF?text=Universidad+Tecnologica+Nacional+-+Mar+del+Plata" alt="Universidad Banner" class="chatuni-banner-img">
        </div>

        <div class="chatuni-nav-buttons">
            <button><a href="universidades.cshtml">Docentes </a> </button>
            <button><a href="universidades.cshtml">Actividades </a> </button>
            <button ><a href="universidades.cshtml">Opiniones</a></button>
        </div>
        <div class="chatuni-cards-container">
@foreach(OpinionFacultad R in @ViewBag.Resenias)
{
    
            <div class="chatuni-opinion-card">
                <div class="chatuni-card-top">
                    <div class="chatuni-avatar">
                    <img src="@R.fotoPerfil"
                    alt="Foto usuario"
                    style="cursor:pointer"
                    onclick = "tomarInformacion(@R.idUsuario)"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    </div>
                    <h2 class="chatuni-profile-name">@R.username</h2>
                </div>
                
                <div class="chatuni-opinion-box">
                    <p class="chatuni-opinion-text">
                        @R.mensaje
                        </p>
                </div>

                <div class>
                
                    <button><a href="universidades.cshtml">Respuestas </a> </button>
                    <button><a href="universidades.cshtml">Responder </a> </button>
                </div>
                
                <p class="chatuni-private-text">Escribir por privado</p>
            </div>

}

</div>
</main>
    </body>
